{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <h2>Buy Stocks</h2>
    <br>
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" pattern="[A-Z0-9.-]+" placeholder="Symbol" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" autocomplete="off" name="shares" placeholder="Number of Shares" type="text" pattern="[0-9]+"  title="Please enter integers">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}