{% extends "layout.html" %}

{% block title %}
    Index Page
{% endblock %}

{% block main %}
    <h2>Owned Stocks</h2>
    <br>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Name of Stock</th>
                <th>Number of Shares Owned</th>
                <th>Price of Each Stock</th>
                <th>Total share Value</th>
            </tr>
        </thead>
        <tbdody>
            {% for owned_stock in owned_stocks %}
            <tr>
                <td>{{ owned_stock.share_name }}</td>
                <td>{{ owned_stock.number_of_shares }}</td>
                <td>{{ owned_stock.total_price | usd }}</td>
                <td>{{ (owned_stock.total_price * owned_stock.number_of_shares) | usd  }}</td>
            </tr>
            {% endfor %}
         </tbdody>

    </table>
{% endblock %}